h1 {
  font-family: Verdana;
  font-weight: Normal;
  font-size: 50px;
  color: white;
  text-align: center;
}

#top_link a{
  color: Aquamarine;
  font-size: 16px;
  font-family: Verdana;
  text-align: center;
}

.video {
  text-align: center;
}

h2 {
  font-family: Verdana;
  font-weight: 300;
  font-size: 42px;
  color: white;
  text-align: center;
}

h3 {
  font-family: Verdana;
  font-size: 21px;
  color: gray;
  text-align: center;
}

.camp {
  text-align: center;
}

.phone {
  text-align: center;
}

h4 {
  font-family: Verdana;
  font-size: 21px;
  color: gray;
  text-align: right;
}
